r17037/mVozac/mVozac/Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfToDB" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="k" nillable="true" type="q3:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertKorisnikaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="k" nillable="true" type="q4:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectKorisnikaResult" nillable="true" type="q5:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tekst" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznjuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectVoznjuResult" nillable="true" type="q6:Voznja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPopust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nazivPopusta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPopustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectPopustResult" nillable="true" type="q7:Popust" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznjaCijena">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nazivLinije" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vozac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznjaCijenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectVoznjaCijenaResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopustID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopustIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPopustIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnikID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kor_ime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnikIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKorisnikIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoznjaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linija" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vozac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoznjaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVoznjaIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="k" nillable="true" type="q8:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKartaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertKartaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PotvrdiVoznju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linija" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PotvrdiVoznjuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PotvrdiVoznjuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinijaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linija_naziv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinijaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="GetLinijaIDResult" nillable="true" type="q9:Linija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStanicaIDPocetak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLinije" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStanicaIDPocetakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectStanicaIDPocetakResult" nillable="true" type="q10:StanicaPocetak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStanicaIDZavrsetak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLinije" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectStanicaIDZavrsetakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectStanicaIDZavrsetakResult" nillable="true" type="q11:StanicaZavrsetak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DohvatiLokaciju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stanica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DohvatiLokacijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="DohvatiLokacijuResult" nillable="true" type="q12:Lokacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UkloniKartu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brojKarte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UkloniKartuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="UkloniKartuResult" nillable="true" type="q13:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brojKarte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKartaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brojKarte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKartaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="FindKartaResult" nillable="true" type="q14:KartaIspis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPopusta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPopustaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaPopustaResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>