r17037/mVozac/mVozac/Connected Services/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfToDB" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertKorisnika_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKorisnika" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertKorisnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKorisnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectKorisnika_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectKorisnika" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectKorisnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectKorisnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectVoznju_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectVoznju" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectVoznju_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectVoznjuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPopust_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPopust" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPopust_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPopustResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectVoznjaCijena_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectVoznjaCijena" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectVoznjaCijena_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectVoznjaCijenaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPopustID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPopustID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPopustID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPopustIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKorisnikID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKorisnikID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetKorisnikID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKorisnikIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVoznjaID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoznjaID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVoznjaID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoznjaIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertKarta_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKarta" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertKarta_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKartaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PotvrdiVoznju_InputMessage">
    <wsdl:part name="parameters" element="tns:PotvrdiVoznju" />
  </wsdl:message>
  <wsdl:message name="IService1_PotvrdiVoznju_OutputMessage">
    <wsdl:part name="parameters" element="tns:PotvrdiVoznjuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLinijaID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinijaID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLinijaID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinijaIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectStanicaIDPocetak_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectStanicaIDPocetak" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectStanicaIDPocetak_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectStanicaIDPocetakResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectStanicaIDZavrsetak_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectStanicaIDZavrsetak" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectStanicaIDZavrsetak_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectStanicaIDZavrsetakResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DohvatiLokaciju_InputMessage">
    <wsdl:part name="parameters" element="tns:DohvatiLokaciju" />
  </wsdl:message>
  <wsdl:message name="IService1_DohvatiLokaciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:DohvatiLokacijuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UkloniKartu_InputMessage">
    <wsdl:part name="parameters" element="tns:UkloniKartu" />
  </wsdl:message>
  <wsdl:message name="IService1_UkloniKartu_OutputMessage">
    <wsdl:part name="parameters" element="tns:UkloniKartuResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteKarta_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKarta" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteKarta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKartaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindKarta_InputMessage">
    <wsdl:part name="parameters" element="tns:FindKarta" />
  </wsdl:message>
  <wsdl:message name="IService1_FindKarta_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindKartaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaPopusta_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaPopusta" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaPopusta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaPopustaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaMedustanica_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaMedustanica" />
  </wsdl:message>
  <wsdl:message name="IService1_ListaMedustanica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaMedustanicaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PopustiCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:PopustiCombo" />
  </wsdl:message>
  <wsdl:message name="IService1_PopustiCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopustiComboResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LinijeCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:LinijeCombo" />
  </wsdl:message>
  <wsdl:message name="IService1_LinijeCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LinijeComboResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKorisnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertKorisnika" message="tns:IService1_InsertKorisnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertKorisnikaResponse" message="tns:IService1_InsertKorisnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectKorisnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectKorisnika" message="tns:IService1_SelectKorisnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectKorisnikaResponse" message="tns:IService1_SelectKorisnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectVoznju">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectVoznju" message="tns:IService1_SelectVoznju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectVoznjuResponse" message="tns:IService1_SelectVoznju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPopust">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPopust" message="tns:IService1_SelectPopust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPopustResponse" message="tns:IService1_SelectPopust_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectVoznjaCijena">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectVoznjaCijena" message="tns:IService1_SelectVoznjaCijena_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectVoznjaCijenaResponse" message="tns:IService1_SelectVoznjaCijena_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPopustID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPopustID" message="tns:IService1_GetPopustID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPopustIDResponse" message="tns:IService1_GetPopustID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKorisnikID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetKorisnikID" message="tns:IService1_GetKorisnikID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetKorisnikIDResponse" message="tns:IService1_GetKorisnikID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoznjaID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVoznjaID" message="tns:IService1_GetVoznjaID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVoznjaIDResponse" message="tns:IService1_GetVoznjaID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKarta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertKarta" message="tns:IService1_InsertKarta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertKartaResponse" message="tns:IService1_InsertKarta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PotvrdiVoznju">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PotvrdiVoznju" message="tns:IService1_PotvrdiVoznju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PotvrdiVoznjuResponse" message="tns:IService1_PotvrdiVoznju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLinijaID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLinijaID" message="tns:IService1_GetLinijaID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLinijaIDResponse" message="tns:IService1_GetLinijaID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectStanicaIDPocetak">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectStanicaIDPocetak" message="tns:IService1_SelectStanicaIDPocetak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectStanicaIDPocetakResponse" message="tns:IService1_SelectStanicaIDPocetak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectStanicaIDZavrsetak">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectStanicaIDZavrsetak" message="tns:IService1_SelectStanicaIDZavrsetak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectStanicaIDZavrsetakResponse" message="tns:IService1_SelectStanicaIDZavrsetak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DohvatiLokaciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DohvatiLokaciju" message="tns:IService1_DohvatiLokaciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DohvatiLokacijuResponse" message="tns:IService1_DohvatiLokaciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UkloniKartu">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UkloniKartu" message="tns:IService1_UkloniKartu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UkloniKartuResponse" message="tns:IService1_UkloniKartu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKarta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteKarta" message="tns:IService1_DeleteKarta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteKartaResponse" message="tns:IService1_DeleteKarta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindKarta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindKarta" message="tns:IService1_FindKarta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindKartaResponse" message="tns:IService1_FindKarta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaPopusta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaPopusta" message="tns:IService1_ListaPopusta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaPopustaResponse" message="tns:IService1_ListaPopusta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaMedustanica">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListaMedustanica" message="tns:IService1_ListaMedustanica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListaMedustanicaResponse" message="tns:IService1_ListaMedustanica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PopustiCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PopustiCombo" message="tns:IService1_PopustiCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PopustiComboResponse" message="tns:IService1_PopustiCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LinijeCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LinijeCombo" message="tns:IService1_LinijeCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LinijeComboResponse" message="tns:IService1_LinijeCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCount" message="tns:IService1_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCountResponse" message="tns:IService1_GetCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKorisnika">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertKorisnika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectKorisnika">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectKorisnika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectVoznju">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectVoznju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPopust">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPopust" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectVoznjaCijena">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectVoznjaCijena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopustID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPopustID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKorisnikID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetKorisnikID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoznjaID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVoznjaID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKarta">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertKarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PotvrdiVoznju">
      <soap:operation soapAction="http://tempuri.org/IService1/PotvrdiVoznju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinijaID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLinijaID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectStanicaIDPocetak">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectStanicaIDPocetak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectStanicaIDZavrsetak">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectStanicaIDZavrsetak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DohvatiLokaciju">
      <soap:operation soapAction="http://tempuri.org/IService1/DohvatiLokaciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UkloniKartu">
      <soap:operation soapAction="http://tempuri.org/IService1/UkloniKartu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKarta">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteKarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindKarta">
      <soap:operation soapAction="http://tempuri.org/IService1/FindKarta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPopusta">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaPopusta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaMedustanica">
      <soap:operation soapAction="http://tempuri.org/IService1/ListaMedustanica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PopustiCombo">
      <soap:operation soapAction="http://tempuri.org/IService1/PopustiCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LinijeCombo">
      <soap:operation soapAction="http://tempuri.org/IService1/LinijeCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfToDB/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>