r17037/mVozac/mVozac/Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfToDB" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="k" nillable="true" type="q3:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertKorisnikaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectKorisnika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="k" nillable="true" type="q4:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectKorisnikaResult" nillable="true" type="q5:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tekst" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznjuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectVoznjuResult" nillable="true" type="q6:Voznja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPopust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nazivPopusta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPopustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="SelectPopustResult" nillable="true" type="q7:Popust" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznjaCijena">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nazivLinije" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vozac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVoznjaCijenaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectVoznjaCijenaResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopustID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopustIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPopustIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnikID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kor_ime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKorisnikIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKorisnikIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoznjaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linija" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vozac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoznjaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVoznjaIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfToDB" minOccurs="0" name="k" nillable="true" type="q8:Karta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKartaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertKartaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PotvrdiVoznju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linija" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PotvrdiVoznjuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PotvrdiVoznjuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvjeriStatusVoznje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="linija" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvjeriStatusVoznjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProvjeriStatusVoznjeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>