r17037/mVozac/mVozac/Connected Services/ServiceReference2/WcfToDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfToDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfToDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumRodenja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KorisnickoIme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lozinka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="Voznja">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrojSjedala" type="xs:int" />
      <xs:element minOccurs="0" name="DatumVoznje" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DuzinaBusa" type="xs:float" />
      <xs:element minOccurs="0" name="ImeVozaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxBrzina" type="xs:float" />
      <xs:element minOccurs="0" name="NazivLinije" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrezimeVozaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SirinaBusa" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Voznja" nillable="true" type="tns:Voznja" />
  <xs:complexType name="Popust">
    <xs:sequence>
      <xs:element minOccurs="0" name="KolicinaPopusta" type="xs:float" />
      <xs:element minOccurs="0" name="NazivPopusta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Popust" nillable="true" type="tns:Popust" />
  <xs:complexType name="Karta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Popust" type="xs:int" />
      <xs:element minOccurs="0" name="Vozac" type="xs:int" />
      <xs:element minOccurs="0" name="Voznja" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Karta" nillable="true" type="tns:Karta" />
</xs:schema>