r17037/mVozac/mVozac/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="vozac">
    <xs:sequence>
      <xs:element minOccurs="0" name="korisnik" type="xs:int" />
      <xs:element minOccurs="0" name="vozac_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vozac" nillable="true" type="tns:vozac" />
</xs:schema>